build/*
windows/examples/doldetect_dll/Release
windows/examples/doldetect_dll/doldetect_dll.sdf
windows/examples/doldetect_dll/doldetect_dll.v12.suo
windows/examples/doldetect_dll/doldetect_dll/Release
windows/examples/gen_samples/Release
windows/examples/gen_samples/gen_samples.sdf
windows/examples/gen_samples/gen_samples.v12.suo
windows/examples/gen_samples/gen_samples/Release
windows/examples/train_svm/Release
windows/examples/train_svm/train_svm.sdf
windows/examples/train_svm/train_svm.v12.suo
windows/examples/train_svm/train_svm/Release
windows/examples/detect_dolphins/Release
windows/examples/detect_dolphins/detect_dolphins.sdf
windows/examples/detect_dolphins/detect_dolphins.v12.suo
windows/examples/detect_dolphins/detect_dolphins/Release
windows/bin/hog_neg
windows/bin/hog_pos
windows/bin/data